version: '3.8'

services:
  bot:
    build: .
    container_name: bike_rental_bot
    restart: unless-stopped
    env_file:
      - .env
    networks:
      - bot-network
    dns:
      - 8.8.8.8
      - 1.1.1.1
    deploy:
      resources:
        limits:
          cpus: '1.0'      # Увеличьте до 1 ядра
          memory: '1000M'   # Увеличьте до 512 MB
        reservations:
          cpus: '0.2'
          memory: '256M'
    #healthcheck:
      #test: ["CMD", "python", "-c", "import socket; socket.create_connection(('api.telegram.org', 443), timeout=5)"]
      #interval: 30s
      #timeout: 10s
      #retries: 3
      #start_period: 40s

networks:
  bot-network:
    driver: bridge